@use 'mixin';

.timeline-pagination {
  align-self: flex-start;
  padding: 0 var(--inner-padding) 24px;

  p {
    font-size: 0.7rem;
  }

  div {
    display: flex;
    gap: 8px;

    .arrow {
      z-index: 10;
      @include mixin.circle(50px);
      font-size: 0.7rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 320px) {
    padding: 0 10px;

    top: unset;
    bottom: 0;

    p {
      font-size: 1rem;
    }

    div {
      gap: 8px;
      .arrow {
        width: 25px;
        height: 25px;
        font-size: 1rem;
      }
    }
  }
}
