@use 'mixin';

.circle-btn {
  @include mixin.circle(8px);
  @include mixin.flex-center;

  position: absolute;
  border: none;
  cursor: pointer;
  color: var(--color-accent);
  font-size: 0;
  transition: transform 0.3s ease;

  background-color: var(--color-accent);

  padding-inline: 0;
  padding-block: 0;
  overflow: visible;

  div {
    @include mixin.wh-size(100%);
    position: relative;

    @include mixin.flex-center;

    .theme {
      position: absolute;
      left: 120%;
      @include mixin.absolute_center_y;
      font-size: 0.3rem;
      white-space: nowrap;
    }
  }

  &:hover {
    transform: scale(4);
    font-size: 2.5px;
    background-color: var(--color-block);
  }

  &.active {
    transform: scale(4);
    font-size: 2.5px;
    background-color: var(--color-block);
  }
}
