@use 'mixin';

.circle-container {
  @include mixin.flex-center;
  @include mixin.absolute_center;
  @include mixin.wh-size(500px);
  z-index: 100;

  .circle {
    position: relative;
    outline: 0.5px solid var(--color-accent);
    @include mixin.flex-center;
    @include mixin.circle(100%);
  }

  @media (max-width: 320px) {
    display: none;
  }
}
